.post {
  &__cover {
    width: 100%;
    height: 50vh;
    max-height: 30em;
    object-fit: cover;
    object-position: center;
  }

  &__header {
    margin: 2rem auto;
  }

  img {
    max-width: 100%;
  }
}
