.report {
  &__header {
    display: grid;
    grid-template:
      "title"
      "date"
      "deadline"
      "type"
      "version";

    @media (min-width: $breakpoint-small) {
      grid-template:
        "title title"
        "date deadline"
        "type version";
    }
  }

  &__title {
    grid-area: title;
  }

  &__content {
    img {
      max-width: 100%;
    }
  }
}
