.reports {
  &__posts {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1.5em;
    margin: 2em;

    @media (min-width: $breakpoint-small) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $breakpoint-medium) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
