<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <%= auto_display_meta_tags %>
    <%= auto_display_favicon_tags if build? %>
    <link rel="canonical" href="<%= data.site.host + current_page.url %>">
    <!-- Matomo Tag Manager -->
    <script type="text/javascript">
    var _mtm = _mtm || [];
    _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://analytics.montandounastartup.com/js/container_lYNgpn1M.js'; s.parentNode.insertBefore(g,s);
    </script>
    <!-- End Matomo Tag Manager -->
    <link href="https://unpkg.com/sanitize.css@11.0.0/sanitize.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@400;700&Muli:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "all" %>
  </head>

  <body
    <% if current_page.data.page_class %>
      class="<%= current_page.data.page_class %>"
    <% end %>
  >
    <%= partial "header" %>
    <%= yield %>
    <%= partial "footer" %>
    <%= javascript_include_tag "bundle" %>
  </body>
</html>
