<% wrap_layout :layout do %>
  <%= image_tag current_page.data.cover, class: 'post__cover' %>
  <div class="post container">
    <article>
      <div class="post__header center">
        <h1><%= current_page.data.title %></h1>
        <p>
          Publicado el <%= I18n.localize(current_article.date, format: '%e de %B del %Y') %>
        </p>
      </div>
      <main>
        <%= yield %>
      </main>
    </article>
    <br />
    <div id="disqus_thread"></div>
  </div>

  <script>
    var disqus_config = function () {
      this.page.url = "<%= data.site.host + current_page.url  %>";
      this.page.identifier = "<%= current_page.data.title %>";
      this.page.title = "<%= current_page.data.title %>";
    };
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://montandounastartup.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<% end %>
