---

title: <%= @title %>
date: <%= @date.strftime('%F') %>
modified: <%= @date.strftime('%F') %>
initial: <%= @date.strftime('%F') %>
end: <%= @date.strftime('%F') %>
description: >-
  Something
pull_image: report-hero.jpg

---

Los reportes tienen como objetivo documentar todas las acciones que no se
explican detalladamente en otra parte del sitio.
De esta manera se puede seguir paso a paso cada una de las acciones realizadas
durante la gestión del proyecto.

También se incluyen los [datos](#datos) relevantes en este período y unas
[conclusiones finales](#conclusiones-finales) sobre el estado del proyecto y las
siguientes metas.

<%= @content %>

## Activadades

---

## Datos

---

## Conclusiones finales
