<% wrap_layout :layout do %>
  <div class="container">
    <header class="strategy__header">
      <h1 class="strategy__title">
        <span>Estrategia:</span>
        <%= current_page.data.title %>
      </h1>
      <p class="strategy__date">
        <strong>Fecha de inicio:</strong> <%= current_page.data.date %>
      </p>
      <p class="strategy__deadline">
        <strong>Fecha de finalización:</strong> <%= current_page.data.deadline %>
      </p>
      <p class="strategy__type">
        <strong>Tipo de estrategia:</strong> <%= current_page.data.type %>
      </p>
      <p class="strategy__version">
        <strong>Versión:</strong> <%= current_page.data.version %>
      </p>
    </header>
    <hr />
    <article>
      <main class="strategy__content">
        <%= yield %>
      </main>
      <br />
      <div id="disqus_thread"></div>
    </article>

    <script>
      var disqus_config = function () {
        this.page.url = "<%= data.site.host + current_page.url  %>";
        this.page.identifier = "<%= current_page.data.title %>";
        this.page.title = "<%= current_page.data.title %>";
      };
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://montandounastartup.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
<% end %>
