body {
  font-family: 'Muli', sans-serif;
  color: $color-black;
}

h1,
h2,
h3,
h4 {
  font-family: 'Hind', sans-serif;
}

.container {
  max-width: 42rem;
  padding: 0 1rem;
  margin: auto;
}

input {
  padding: 0.5em 0.75em;
  margin: 0.5em 0.25em;
  font-size: inherit;
  border: none;
  border-radius: 0.25rem;
  outline: none;
}
