$breakpoint-mobile: 20em; // 320px - Smallest size supported
$breakpoint-small: 30em; // 480px - Typical medium size phone
$breakpoint-medium: 50em; // 800px - Typical tablet screen
$breakpoint-large: 70em; // 1120px - Typical desktop size
