.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 1em 2em;
  font-family: 'Hind', sans-serif;
  background-color: $color-white;
  box-shadow: $shadow-menu;

  &__brand {
    flex: 1 1 auto;

    a {
      color: $color-black;
      text-decoration: none;
    }
  }

  &__logo {
    vertical-align: middle;
  }

  &__name {
    display: inline-block;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
  }

  &__menu {
    flex: 1 1 auto;
    text-align: right;
    text-decoration: none;

    a {
      color: $color-black;
      text-decoration: none;
    }

    @media (min-width: $breakpoint-medium) {
      display: none;
    }
  }

  &__navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: none;
    align-items: center;
    background-color: $color-white;

    &--visible {
      display: block;
    }

    @media (min-width: $breakpoint-medium) {
      position: static;
      display: block;
      text-align: right;
    }
  }
}
