.main-hero {
  position: relative;
  display: flex;
  height: 40vh;
  min-height: 30rem;
  padding: 2rem;
  color: $color-white;
  text-align: center;
  background: url(image-path('hero-image.jpg'));
  background-color: change-color($color-black, $alpha: 0.75);
  background-position: center;
  background-size: cover;
  place-items: center;

  @media (min-width: $breakpoint-medium) {
    font-size: 1.25em;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    background-color: inherit;
  }

  &__title {
    font-size: 3em;
    line-height: 1;
    margin-block: 0.25em;
  }

  &__content {
    z-index: 1;
    flex: 1 1 auto;
  }

  &__form {
    font-size: 1rem;
  }
}
