.navbar {
  box-shadow: $shadow-menu;

  @media (min-width: $breakpoint-small) {
    box-shadow: none;
  }

  &__items {
    margin: 0;
    padding-inline: 1em;

    @media (min-width: $breakpoint-small) {
      padding: 0;
    }
  }

  &__item {
    width: 100%;
    padding: 0.5em 0.25em;
    border-bottom: 1px solid $color-black;

    &:last-child {
      border-bottom: 0;
    }

    @media (min-width: $breakpoint-medium) {
      display: inline-block;
      width: auto;
      border-bottom: 0;
    }

    @media (min-width: $breakpoint-medium) {
      padding: 0.5em 0.75em;
    }

    a {
      color: $color-black;
      text-decoration: none;
    }

    :hover {
      border-bottom: 2px solid $color-black;
    }
  }
}
