.post-card {
  position: relative;
  width: 100%;
  margin: 0.5rem auto;

  &__image {
    width: 100%;
  }

  &__title {
    margin-block: 0.25em;
    line-height: 1;
  }

  &__link {
    color: $color-black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__date {
    font-size: 0.75rem;
  }
}
