<header class="header">
  <div class="header__brand">
    <a href="/">
      <%= svg_tag "logo.svg", height: "50px", class: "header__logo" %>
      <span class="header__name">Montando<br />una startup</span>
    </a>
  </div>
  <div class="header__menu">
    <a href="#" id="site-menu">
      Menu
    </a>
  </div>
  <nav class="header__navbar navbar" id="site-navbar">
    <ul class="navbar__items">
      <li class="navbar__item">
        <%= link_to 'Inicio', 'index' %>
      </li>
      <li class="navbar__item">
        <%= link_to 'Guia para emprender', 'guia' %>
      </li>
      <li class="navbar__item">
        <%= link_to 'Blog', 'blog' %>
      </li>
      <li class="navbar__item">
        <%= link_to 'Estrategias', 'estrategias' %>
      </li>
      <li class="navbar__item">
        <%= link_to 'Reportes', 'reportes' %>
      </li>
    </ul>
  </nav>
</header>
