---
blog: posts
pageable: true
per_page: 10
page_class: 'blog'
layout: page
changefreq: 'weekly'
priority: 1
---

<div class="blog__posts">
  <% page_articles.each_with_index do |article, i| %>
  <div class="post-card">
    <% link_to article do %>
    <%= image_tag article.data.cover, class: 'post-card__image' %>
    <% end %>
    <div class="post-card__header">
      <h2 class="post-card__title">
        <%= link_to article.title, article, class: 'post-card__link' %>
      </h2>
      <span class="post-card__date">
        Publicado el <%= I18n.localize(article.date, format: '%e de %B del %Y') %>
      </span>
    </div>
    <p>
      <%= article.data.description || article.summary(300) %>
      <br />
      <%= link_to "Leer más", article %>
    </p>
  </div>
  <% end %>
</div>

<% if paginate && num_pages > 1 %>
  <% if prev_page %>
    <p><%= link_to 'Pagina anterior', prev_page %></p>
  <% end %>
<% end %>

<% if paginate %>
  <p>Pagina <%= page_number %> de <%= num_pages %></p>

  <% if next_page %>
    <p><%= link_to 'Siguiente pagina', next_page %></p>
  <% end %>
<% end %>
