---
blog: strategies
pageable: true
per_page: 10
page_class: 'blog'
layout: page
changefreq: 'weekly'
priority: 1
---

<div class="main-hero" style="background-image: url('<%= image_path('strategies-hero.jpg') %>');">
  <div class="main-hero__content">
    <h1 class="main-hero__title">Repositorio de estrategias</h1>
    <p>
      ¿Quieres ejemplos reales sobre toma de decisiones?
      <br />
      Suscribete para estudiar nuestras estrategias en tiempo real.
    </p>
    <form
      action="https://app.moosend.com/subscribe/1d8a628f-74d8-4428-94f4-7e307b996cf3"
      method="post"
      class="main-hero__form"
      id="ms-sub-form"
      target="_blank"
      >
      <div>
        <input
          type="email"
          name="ms-email"
          id="email"
          required
          placeholder="emprendedor@exito.com"
          />
        <input type="submit" value="Subscribirse" />
      </div>
    </form>
  </div>
</div>
<div class="strategies__posts">
  <% page_articles.reverse.each_with_index do |article, i| %>
  <div class="post-card">
    <div class="post-card__header">
      <h2 class="post-card__title">
        <%= link_to article.title, article, class: 'post-card__link' %>
      </h2>
      <span class="post-card__date">
        Publicado el
        <%= I18n.localize(article.date, format: '%e de %B del %Y') %>
        <br />
        Tipo: <%= article.data.type %>
        <br />
        Version: <%= article.data.version %>
      </span>
    </div>
    <p>
      <%= article.data.description || article.summary(300) %>
      <br />
      <%= link_to "Leer más", article %>
    </p>
  </div>
  <% end %>
</div>

<% if paginate && num_pages > 1 %>
  <% if prev_page %>
    <p><%= link_to 'Pagina anterior', prev_page %></p>
  <% end %>
<% end %>

<% if paginate %>
  <p>Pagina <%= page_number %> de <%= num_pages %></p>

  <% if next_page %>
    <p><%= link_to 'Siguiente pagina', next_page %></p>
  <% end %>
<% end %>
