---
title: La guía definitiva para montar una startup
layout: page
modified: 2020-03-07
changefreq: 'weekly'
priority: 1
description: >-
  Montar una startup es una aventura. ¿Tienes las herramientas necesarias para
  empezar? Nosotros te acompañamos para que inicies este viaje y cuentes con el
  apoyo necesario para triunfar.
pull_image: main-cover.jpg
---

<div class="main-hero" style="background-image: url('<%= image_path('main-cover.jpg') %>');">
  <div class="main-hero__content">
    <h2 class="main-hero__title">La guía definitiva para montar una startup</h2>
    <p>
      Aprende paso a paso como montar una startup.
      <br />
      Suscribete y recibe actualizaciones para continuar aprendiendo.
    </p>
    <form
      action="https://app.moosend.com/subscribe/1d8a628f-74d8-4428-94f4-7e307b996cf3"
      method="post"
      class="main-hero__form"
      id="ms-sub-form"
      target="_blank"
      >
      <div>
        <input
          type="email"
          name="ms-email"
          id="email"
          placeholder="emprendedor@exito.com"
          required
          />
        <input type="submit" value="Subscribirse" />
      </div>
    </form>
  </div>
</div>
<main class="m2 container">
  <h2 class="center">¿Existe una guía definitiva para emprender?</h2>
  <p>
    Seamos honestos, así como no existe una guía definitiva para vivir la vida,
    tampoco existe una guía definitiva para montar una startup.
    Hay muchas variables que hacen de cada negocio algo único y, como en la
    vida, lo más que podemos hacer es tratar de reunir una serie de consejos que
    brinden las herramientas necesarias para lograr el éxito.
    Este es el enfoque de la guía.
  </p>
  <p>
    Antes de comenzar, me gustaría aclarar que este es un documento vivo, lo que
    significa que será actualizado de forma continua pero nunca llegará a estar
    terminado.
    Esto se debe a la naturaleza misma de la guía.
    Siempre habrá algo nuevo que documentar, alguna modificación que realizar o
    un tema que se vuelva obsoleto.
    Por esta razón la guía no puede llegar a estar terminada.
    Una vez aclarado esto, podemos comenzar la aventura.
  </p>
  <h1>Guía definitiva para montar una startup</h1>
  <p>
    Última modificación: <%= I18n.localize(current_page.data.modified, format: '%e de %B del %Y') %>
  </p>
  <p>
    Es complicado hacer una guía paso a paso porque hay muchas actividades que
    deben realizarse de forma simultánea.
    Para resolver esta situación agruparé los temas por etapas.
    Esto también implica que, aunque existe cierto orden lógico, cada unidad
    puede estudiarse de forma independiente.
  </p>
  <h2>Requisitos para montar una startup</h2>
  <p>
    <strong>Etapa:</strong> Antes de comenzar
  </p>
  <p>
    Hay muchas cosas que considerar antes de pensar en montar una startup.
    Desde entender los riesgos y ventajas de esta forma de crear un negocio
    hasta entender como se debe estructutar la organización inicial.
    Todo esto es conocimiento previo y aunque no hay muchas recomendaciones
    prácticas, sirve para tener contexto sobre lo que es emprender y empezar
    con el pie derecho.
  </p>
  <h3>Temas</h3>
  <ul>
    <li>
      <a href="<%= article_url '¿Qué es una startup?' %>">
        ¿Qué es una startup?
      </a>
    </li>
    <li>
      <a href="<%= article_url 'Etapas de una startup' %>">
        Etapas de una startup
      </a>
    </li>
    <li>
      Lean, agile y design thinking - Metodologías de trabajo en una startup
    </li>
    <li>
      <a href="<%= article_url 'Las 3 C de una startup' %>">
        Las 3 C de una startup - El rol de los fundadores
      </a>
    </li>
    <li>
      Como encontrar una idea de negocio
    </li>
    <li>
      Perfiles laborales en una startup tecnológica
    </li>
    <li>
      ¿Qué es un MVP?
    </li>
    <li>
      Significado de B2B, B2C y B2B2C - Tipos de modelos de negocio
    </li>
    <li>
      Lienzos y su relación con las decisiones de negocio
    </li>
    <li>
      Requisitos legales para iniciar un negocio
    </li>
    <li>
      Acciones e inversionistas, todo lo que deberías saber
    </li>
    <li>
      Finanzas básicas para emprendedores
    </li>
    <li>
      ¿Qué sucede si mi startup es exitosa?
    </li>
    <li>
      ¿Qué sucede si mi startup no funciona?
    </li>
  </ul>
  <h2>Validación de la idea</h2>
  <p>
    <strong>Etapa:</strong> Antes de empezar
  </p>
  <p>
    Una vez entendido que es y como funciona una startup debemos trabajar en la
    idea.
    El secreto de los grandes emprendedores es que validan la idea antes de
    trabajar en el producto.
  </p>
  <h3>Temas</h3>
  <ul>
    <li>
      La importancia de validar la idea antes de construir el producto
    </li>
    <li>
      El emprendedor no crea productos, resuelve problemas
    </li>
    <li>
      ¿Qué es Customer Development?
    </li>
    <li>
      Define a tu cliente ideal para entender sus necesidades
    </li>
    <li>
      ¿Con quién debo para validar mi idea?
    </li>
    <li>
      Métodos útiles para validar una idea de negocio
    </li>
    <li>
      Contextualiza los problemas
    </li>
    <li>
      Poniendo a prueba nuestras hipótesis y propuestas de valor
    </li>
  </ul>
  <h2>Ejecución inicial</h2>
  <p>
    <strong>Etapa:</strong> Inicial
  </p>
  <p>
    Ya que estamos seguros de que nuestra idea realmente tiene futuro, pasamos a
    trabajar en nuestro negocio.
    Su éxito requiere multiples equipos trabajando en conjunto, por lo que
    establecer la organización inicial es crucial.
  </p>
  <h3>Temas</h3>
  <ul>
    <li>
      ¿Se necesita inversión para montar una startup?
    </li>
    <li>
      Como iniciar una startup sin inversión externa
    </li>
    <li>
      El trabajo del CEO de una startup
    </li>
    <li>
      Contratando a los primeros empleados
    </li>
    <li>
      Creando el modelo financiero de una startup
    </li>
    <li>
      ¿Ventas o desarrollo? Que hacer al comenzar una startup
    </li>
    <li>
      Anunciar publicamente el lanzamiento de mi startup ¿cómo y cuándo?
    </li>
    <li>
      Facturación mínima viable
    </li>
  </ul>
  <h2>Desarrollo del producto</h2>
  <p>
    <strong>Etapa:</strong> Inicial
  </p>
  <p>
    Aunque parezca obvio que para construir un producto tecnológico se
    necesita de programadores, no todo es tirar código.
    Es necesario elaborar un plan, contar con el apoyo del resto del equipo y
    saber que es lo que vamos a construir.
  </p>
  <h3>Temas</h3>
  <ul>
    <li>
      El desarrollo de producto es más que solo código
    </li>
    <li>
      La narrativa detrás del plan de un producto - Como crear un plan conectado
      con los problemas
    </li>
    <li>
      ¿Qué requiere una startup de sus programadores para poder comenzar?
    </li>
    <li>
      Velocidad de desarrollo, lo que el CEO debería saber sobre tecnología
    </li>
    <li>
      Comunicación entre programadores y no programadores, lo que nadie te
      había explicado
    </li>
  </ul>
  <h2>Marca y marketing</h2>
  <p>
    <strong>Etapa:</strong> Inicial
  </p>
  <p>
  </p>
  <h3>Temas</h3>
  <ul>
    <li>
      ¿Qué es más importante, la marca o el producto?
    </li>
    <li>
      El marketing y la experimentación de ideas
    </li>
    <li>
      La importancia de definir el tono y voz de la empresa
    </li>
    <li>
      ¿Qué es el growth hacking?
    </li>
  </ul>
  <h2>Ventas</h2>
  <p>
    <strong>Etapa:</strong> Inicial
  </p>
  <p>
    Un negocio no es negocio si no hay ventas.
    Es importante tener una estrategia de ventas clara y entender las
    limitantes que existen en la etapa temprana de una startup.
  </p>
  <h3>Temas</h3>
  <ul>
    <li>
      Por definir
    </li>
  </ul>
  <h2>Management y estructura corporativa</h2>
  <p>
    <strong>Etapa:</strong> Crecimiento
  </p>
  <p>
    Cuando el producto desarrollado es aceptado como una solución en el mercado,
    fase conocida como market-product fit, la empresa pueda invertir más
    recursos en el crecimiento del negocio.
    Es en esta etapa que los fundadores deben de expandir el equipo y asegurarse
    de que el crecimiento no afecte negativamente su desempeño.
  </p>
  <h3>Temas</h3>
  <ul>
    <li>
      Como dejar de ejecutar y comenzar a coordinar
    </li>
    <li>
      Como organizar a un equipo de desarrollo que está creciendo
    </li>
  </ul>
  <h2>Vender la startup</h2>
  <p>
    <strong>Etapa:</strong> Salida
  </p>
  <p>
    Uno de los posibles finales para una startup es terminar siendo comprada
    por una empresa más grande.
    De hecho, existen algunas fundadas con el propósito explícito de ser
    adquiridas.
  </p>
  <h3>Temas</h3>
  <ul>
    <li>
      ¿Que significa que una startup esté a la venta?
    </li>
  </ul>
</main>
