---
title: Montando una startup
page_class: 'home-page'
layout: page
changefreq: 'weekly'
priority: 1
description: >-
  Montar una startup es una aventura. ¿Tienes las herramientas necesarias para
  empezar? Nosotros te acompañamos para que inicies este viaje y cuentes con el
  apoyo necesario para triunfar.
pull_image: main-cover.jpg
---

<div class="main-hero">
  <div class="main-hero__content">
    <h2 class="main-hero__title">¿Quieres montar una startup?</h2>
    <p>
      Iniciar un negocio requiere más que una gran idea.<br />
      Recibe guías, consejos y artículos para aprender todo lo necesario.
    </p>
    <form
      action="https://app.moosend.com/subscribe/1d8a628f-74d8-4428-94f4-7e307b996cf3"
      method="post"
      class="main-hero__form"
      id="ms-sub-form"
      target="_blank"
      >
      <div>
        <input
          type="email"
          name="ms-email"
          id="email"
          placeholder="emprendedor@exito.com"
          required
          />
        <input type="submit" value="Subscribirse" />
      </div>
    </form>
  </div>
</div>
<main class="m2">
  <div class="home-page__posts">
    <% page_articles('posts').take(6).each_with_index do |article, i| %>
      <div class="post-card">
        <% link_to article do %>
          <%= image_tag article.data.cover, class: 'post-card__image' %>
        <% end %>
        <div class="post-card__header">
          <h2 class="post-card__title">
            <%= link_to article.title, article, class: 'post-card__link' %>
          </h2>
          <span class="post-card__date">
            Publicado el
            <%= I18n.localize(article.date, format: '%e de %B del %Y') %>
          </span>
        </div>
        <p>
          <%= article.data.description || article.summary(300) %>
          <br />
          <%= link_to "Leer más", article %>
        </p>
      </div>
    <% end %>
  </div>
  <h1>Estrategias</h1>
  <p>
    Nuestra filosofía se basa en predicar con el ejemplo.
    Por esa razón hacemos públicas todas las estrategias que usamos.
    De esta manera cualquiera puede comprobar si lo que hacemos funciona o no.
    Estas estrategias no solo son la aplicación práctica de los artículos
    publicados, también son una muestra, en tiempo real, de como se toman
    decisiones dentro de un negocio.
  </p>
  <div class="home-page__posts">
    <% page_articles('strategies').take(6).each_with_index do |article, i| %>
      <div class="post-card">
        <div class="post-card__header">
          <h2 class="post-card__title">
            <%= link_to article.title, article, class: 'post-card__link' %>
          </h2>
          <span class="post-card__date">
            Publicado el
            <%= I18n.localize(article.date, format: '%e de %B del %Y') %>
            <br />
            Tipo: <%= article.data.type %>
            <br />
            Version: <%= article.data.version %>
          </span>
        </div>
        <p>
          <%= article.data.description || article.summary(300) %>
          <br />
          <%= link_to "Leer más", article %>
        </p>
      </div>
    <% end %>
  </div>
</main>
