---
blog: reports
pageable: true
per_page: 10
layout: page
changefreq: 'weekly'
priority: 1
pull_image: reports-hero.jpg
---

<div class="main-hero" style="background-image: url('<%= image_path('reports-hero.jpg') %>');">
  <div class="main-hero__content">
    <h1 class="main-hero__title">Reporte de actividades</h1>
    <p>
      Muchas veces no es posible documentar cada acción al momento.
      <br />
      Suscribete para recibir reportes de actividades y ver que sucede tras
      bambalinas.
    </p>
    <form
      action="https://app.moosend.com/subscribe/1d8a628f-74d8-4428-94f4-7e307b996cf3"
      method="post"
      class="main-hero__form"
      id="ms-sub-form"
      target="_blank"
      >
      <div>
        <input
          type="email"
          name="ms-email"
          id="email"
          required
          placeholder="emprendedor@exito.com"
          />
        <input type="submit" value="Subscribirse" />
      </div>
    </form>
  </div>
</div>
<div class="reports__posts">
  <% page_articles.each_with_index do |article, i| %>
  <div class="post-card">
    <div class="post-card__header">
      <h2 class="post-card__title">
        <%= link_to article.title, article, class: 'post-card__link' %>
      </h2>
      <span class="post-card__date">
        Publicado el
        <%= I18n.localize(article.date, format: '%e de %B del %Y') %>
        <br />
        Fecha de inicio:
        <%= I18n.localize(article.data.initial, format: '%e de %B del %Y') %>
        <br />
        Fecha final:
        <%= I18n.localize(article.data.end, format: '%e de %B del %Y') %>
      </span>
    </div>
    <p>
      <%= article.data.description || article.summary(300) %>
      <br />
      <%= link_to "Leer más", article %>
    </p>
  </div>
  <% end %>
</div>

<% if paginate && num_pages > 1 %>
  <% if prev_page %>
    <p><%= link_to 'Pagina anterior', prev_page %></p>
  <% end %>
<% end %>

<% if paginate %>
  <p>Pagina <%= page_number %> de <%= num_pages %></p>

  <% if next_page %>
    <p><%= link_to 'Siguiente pagina', next_page %></p>
  <% end %>
<% end %>
